.container {
    height: 800px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    position: relative;
    width: 750px;
    margin: auto;
    overflow-x: auto;
}


.card-main {
    display: flex;
    transition:  0.1s all;
}

.handler {
    z-index: 1;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.left-handler {
    top: 50%;
    left: 0px;
}

.right-handler {
    top: 50%;
    right: 0px;
}

.card {
    margin: 26px;
    width: 400px;
    height: 220px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: white;
    align-items: center;
}

.logo-img {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 45px;
    height: 35px;
}

.card-num {
    font-size: 24px;
    letter-spacing: 2px;
}

.card-holder {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-expiry {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 18px;
    letter-spacing: 2px;
}
